{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sortfinal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sortfinal.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ sortfinal.libelle }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ sortfinal.slug }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if sortfinal.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ sortfinal.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ sortfinal.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ sortfinal.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ sortfinal.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sortfinal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sortfinal_edit', { 'id': sortfinal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
