{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rayonnage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rayonnage.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ rayonnage.libelle }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ rayonnage.slug }}</td>
            </tr>
            <tr>
                <th>Bloc</th>
                <td>{{ rayonnage.bloc }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ rayonnage.description }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if rayonnage.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ rayonnage.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ rayonnage.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ rayonnage.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ rayonnage.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rayonnage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rayonnage_edit', { 'id': rayonnage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
