{% extends 'base.html.twig' %}

{% block body %}
    <h1>Epi</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ epi.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ epi.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ epi.description }}</td>
            </tr>
            <tr>
                <th>Nbface</th>
                <td>{{ epi.nbface }}</td>
            </tr>
            <tr>
                <th>Nbrayon</th>
                <td>{{ epi.nbrayon }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if epi.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ epi.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ epi.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ epi.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ epi.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('epi_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('epi_edit', { 'id': epi.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
